@charset "UTF-8";

body {
  height: 100%;
  margin-top: 50px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

/*
.header,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}
*/

.header {
  padding-right: 15px;
  padding-left: 15px;
  width:100%;
  height:157px;
  background-position:center top;
  background-repeat:no-repeat;
  background-image:url(../images/top_banner_01_03.png);
}

.footer {
  margin-top:25px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  padding-botton: 15px;
  padding-bottom: 15px;
  height:auto;
  background-color:#333333;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-fixed-top .navbar-nav > li > a {
  color: white;
}

.prgov-flags-navbar-brand {
  margin-top: -10px;
}

.prgov-navbar-brand {
  margin-top: -3px;
}

.content {
  min-height: 100%;
  height: auto;
  margin: 0 auto -150px; /* Negative indent footer by its height */
  padding: 0 0 150px; /* Pad bottom by footer height */
}

.container, .navbar-container {
  width: auto;
  max-width: 992px;
  padding: 0 15px;
}

.container .text-muted {
  margin: 20px 0;
}

.form {
  padding-right: 15px;
  padding-left: 15px;
}

@media (max-width: 992px) {
  .navbar {
    border-radius: 0px;
  }

  .navbar-container {
    padding: 0 0px;
  }
}

@media (max-width: 420px) {
  .header {
    background-image:url(../images/header_alt.png);
    background-size:cover;
  }
}

.icon {
  background-image:url(../images/gavel.png);
  background-repeat: no-repeat;
  width: 68px;
}

.identification {
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.identification:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    border-color: red;
    cursor: pointer;
}
