
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3><center><%= i18n_t("validator.title") %><small class="app_status"><%= i18n_t("header.status") %></small></center></h3>
          <br>
        </div>
      </div>

      <div class="jumbotron">
        <div class="container">

          <p>
            <%= i18n_t("validator.index.message") %>
          </p>

          <p><a class="btn btn-primary btn-lg" href="/validate/cap" role="button"><%= i18n_t("validator.index.button") %></a>
        </div>
      </div>
    </div>
