  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Oops. Aqu&iacute; hay un error.</h1>

        <div class="row">
          <div class="col-md-12">
            Por favor intente m&aacute;s tarde. Hemos reportado el error a un grupo de t&eacute;cnicos para indagar sobre el problema.
            El error es <%= error %>.
            <!-- Aqu&iacute; una lista que le puede ayudar a encontrar lo que busca: -->
          </div>
        </div>
      </div>
    </div>
  </div>
