
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3><center><%= i18n_t("header.title") %><small class="app_status"><%= i18n_t("header.status") %></small></center></h3>
          <br>
        </div>
      </div>

      <div class="jumbotron">
        <div class="container">

          <h1>Here we will elaborate on mobile app features.</h1>
          <p>
              Here we will add Link to Iphone and Android Stores.
          </p>

          <p><a class="btn btn-primary btn-lg" href="/" role="button">Comenzar</a>
        </div>
      </div>
    </div>
