
    <div class="container">
      <div class="row"><p></p></div>
      <div class="row"><p></p></div>
      <div class="row">
        <div class="col-sm-3">
          <p>
            <font color="white">Contáctenos
              <br>
              <small>
                <a href="http://www2.pr.gov/Pages/Contactenos.aspx">Forma Electrónica</a>
                <br>
                Email: <a href="mailto:webmaster@pr.gov">webmaster@pr.gov</a>
              </small>
            </font>
          </p>
        </div>
        <div class="col-sm-3">
          <p>
            <font color="white">Legales
              <br>
              <small>
                Copyright © 2013
                <br>
                Estado Libre Asociado de Puerto Rico
                <br>
                <a href="http://www2.pr.gov/Pages/NormasdeUso.aspx">Normas de Uso</a>
                |
                <a href="http://www2.pr.gov/Pages/Pol%C3%ADticadePrivacidad.aspx">Políticas de Privacidad</a>
              </small>
            </font>
          </p>
        </div>
        <div class="col-sm-3">
          <p>
            <font color="white">Servicios en Línea
              <br>
              <small>
                <a href="http://www2.pr.gov/Pages/servicefilter.aspx?type=ciudadano">Ciudadanos</a>
                |
                <a href="http://www2.pr.gov/Pages/servicefilter.aspx?type=empresa">Empresas</a>
                |
                <a href="http://www2.pr.gov/Pages/servicefilter.aspx?type=gobierno">Gobierno</a>
                <br>
                <br>
                <font color="dbbf05">Accesibilidad Núm-001-13</font>
                <br>
                <a href="http://www2.pr.gov/Documents/ley229LeydeAccesibilidad.pdf">Conforme a la Ley 229 de 2003</a>
              </small>
            </font>
          </p>
        </div>
        <div class="col-sm-3">
          <p>
            <a href="http://www.pr.gov"><img src="../images/prGovTransparent.png" border="0" alt="PR.gov" /></a>
          </p>
        </div>
      </div>
    </div>
