
  <div class="navbar-outer">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="http://www.pr.gov"><img src="../images/logo_icon_brand.png" width="76" height="25" border="0" alt="PR.gov" /></a>
        </div>
        <div class="collapse navbar-collapse" id="prgov-navbar">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sobre Puerto Rico</a>
              <ul class="dropdown-menu">
                <li><a href="http://www2.pr.gov/SobrePuertoRico/Pages/default.aspx">Información General</a></li>
                <li><a href="http://www2.pr.gov/SobrePuertoRico/Pages/DatosGenerales.aspx">Datos Generales</a></li>
                <li><a href="http://www2.pr.gov/SobrePuertoRico/Pages/CulturaeHistoria.aspx">Cultura y Museos</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Directorios</a>
              <ul class="dropdown-menu">
                <li><a href="http://www2.pr.gov/Directorios/Pages/DirectoriodeAgencias.aspx">Directorio de Agencias</a></li>
                <li><a href="http://www2.pr.gov/Directorios/Pages/DirectoriodeMunicipios.aspx">Directorio de Municipios</a></li>
                <li><a href="http://www2.pr.gov/Directorios/Pages/L%C3%ADneasdeAyudaparaEmergencias.aspx">Líneas de Ayuda para Emergencias</a></li>
                <li><a href="http://www.fortaleza.pr.gov/">La Fortaleza</a></li>
              </ul>
            </li>
            <li><a href="http://www2.pr.gov/GobiernoAGobierno/Pages/default.aspx">Gobierno a Gobierno</a></li>
            <li><a href="http://www2.pr.gov/Pages/empleos.aspx">Empleos</a></li>
            <li><a href="http://www2.pr.gov/subasta/Pages/subastas.aspx">Subastas</a></li>
          </ul>
          <div class="navbar-right">
            <form class="navbar-form" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="B&uacute;squeda" size="16">
              </div>
              <button type="submit" class="btn btn-default">Buscar</button>
            </form>
          </div>
        </div>
      </div>
    </nav>
  </div>
